In [2]:
import pandas as pd
import numpy as np
import re
from helpers import unicode_to_str, translate_to_eng

In [4]:
df = pd.read_csv("London_hotel_reviews - London_hotel_reviews.csv")
df['Complete Review'] = df['Review Title'] + " " + df['Review Text']
df.head()

,Property Name,Review Rating,Review Title,Review Text,Location Of The Reviewer,Date Of Review,Complete Review
0,Ridgemount Hotel,4,Wonderful stay,Found the hotel via Tripadvisor and it definit...,"Aarhus, Denmark",3/10/2013,Wonderful stay Found the hotel via Tripadvisor...
1,The Dorchester,5,Business Dinner!!,Recently attended the Passenger Shipping Assoc...,Morecambe,12/31/2012,Business Dinner!! Recently attended the Passen...
2,Marble Arch Hotel,5,Très beau boutique hôtel. Recommandé bien que ...,"Nous avons beaucoup aimé ce boutique hôtel, bi...",Paris,1/4/2014,Très beau boutique hôtel. Recommandé bien que ...
3,"Mandarin Oriental Hyde Park, London",5,Amazing stay,Very last minute overnight stay. Booked a suit...,UK,11/29/2016,Amazing stay Very last minute overnight stay. ...
4,Apex London Wall Hotel,5,Fantastic Hotel!!,I stayed at this hotel for three nights and th...,"County Limerick, Ireland",12/13/2016,Fantastic Hotel!! I stayed at this hotel for t...

In [5]:
df['Complete Review'] = df['Complete Review'].apply(unicode_to_str)

In [6]:
df['Translated Review'] = df['Complete Review'].apply(translate_to_eng)

In [7]:
df[['Complete Review', 'Translated Review']].head()

,Complete Review,Translated Review
0,Wonderful stay Found the hotel via Tripadvisor...,Wonderful stay Found the hotel via Tripadvisor...
1,Business Dinner!! Recently attended the Passen...,Business Dinner!! Recently attended the Passen...
2,Très beau boutique hôtel. Recommandé bien que ...,Very nice boutique hotel. Recommended although...
3,Amazing stay Very last minute overnight stay. ...,Amazing stay Very last minute overnight stay. ...
4,Fantastic Hotel!! I stayed at this hotel for t...,Fantastic Hotel!! I stayed at this hotel for t...

In [8]:
new_df = df[['Review Rating','Translated Review']]

In [9]:
new_df.head()

   Review Rating                                  Translated Review
0              4  Wonderful stay Found the hotel via Tripadvisor...
1              5  Business Dinner!! Recently attended the Passen...
2              5  Very nice boutique hotel. Recommended although...
3              5  Amazing stay Very last minute overnight stay. ...
4              5  Fantastic Hotel!! I stayed at this hotel for t...

In [34]:
new_df.to_csv("Translated_London_Hotel_review_Dataset.csv", index=False)